* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 75%;
  margin: 0 auto;
  position: relative;

  h1 {
    text-align: center;
    margin-bottom: 60px;
  }

  .scroll-fixed {
    background: url('../assets/demo.jpg') no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    width: 100%;
    padding-top: calc((427/640)*100%);
  }
}