* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

#app {
  height: 100%;
}

.main {
  height: 100%;
}

#canvas {
  position: absolute;
  z-index: -1;
}

.title {
  letter-spacing: 10px;
  font-size: 45px;
  position: absolute;
  color: rgb(255, 255, 0);
  z-index: 1;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

.my-footer {
  position: absolute;
  bottom: 0px;
  height: 180px;
  width: 100%;
  background-color: rgb(255, 255, 0);

  ul {
    list-style-type: none;
    text-align: center;

    li {
      font-size: 22px;
      font-weight: 400;
      display: inline-block;
      color: #000;
      margin: 0 30px;
    }
  }
}
// 全局超链接样式
a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: #000;

  &:hover::after {
    width: 100%;
  }

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: all 0.2s ease-in-out;
  }
}