@import '../../common/_common.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 80%;
  margin: auto;
  padding: 40px 0 60px;
}
.card {
  border-radius: 4px;
  margin: 0 0 20px 0;
  transition: all 0.2s ease-in-out;
  padding: 20px;
  color: var(--text-common);

  &:hover {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
  }


  .title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
  }
  .desc {
    margin-top: 20px;
  }
}